/* --------------------------  'mobile버전' 시작 ------------------------------ */
/* 360 x 640px를 디폴트로 */
/* 가로 : 50px = 13.8 %*/
/* 높이 : 50px = 7.8 %  */
/*                                                                    */
/*                                                                    */
/*                                                                    */
/*                                                                    */
/* --------------------------  container 시작 -------------------------- */
@media screen and (min-width:0px) and (max-width:767px) {
    /* --------------------------  '공통부분' 시작 ---------------------------- */
    /* 수업 탑 이미지 */
    #container_Mobile #common_class_Mobile_01{
        width: 100%;
        height: 90vw;
        background: no-repeat rgba(0,0,0,0.5);
        background-size: 100% 100%;
        background-blend-mode: multiply;
    }
    #container_Mobile #common_class_Mobile_01 > h1{
        font-size: 30px;
        color: #fff;
        text-align: center;
        padding-top: 10px;
        /* line-height: 60px; */
    }
    #container_Mobile #common_class_Mobile_01 > h2{
        position: relative;
        left:5%;
        margin-top: 13vw;

        font-size: 18px;
        color: #fff;
    }
    #container_Mobile #common_class_Mobile_01 > h3{
        width: 300px;
        position: relative;
        left:5%;
        margin-top: 2vw;

        font-size: 14px;
        color: #fff;
    }






    #container_Mobile #common_class_Mobile_02{
        background-color:rgba(250,235,215,0.5);
        padding-bottom: 30px;
        /* height: 1400px; */
    }
    /* classContents_row_01 수업 간략 설명 레이아웃 */
    #container_Mobile #classContents_row_01{
        /* margin-top: 10px; */
        /* height: 800px; */

        /* display: flex;
        flex-direction: column; */
        width: 90%;

    }
    #container_Mobile #classContents_column_01{
        /* display: flex;
        flex-direction: row; */
        /* justify-content: center; */
        position: relative;
        left: 5%;

        /* width: 50%; */
    }
    #container_Mobile #classContents_column_02{
        /* display: flex;
        flex-direction: row; */
        justify-content: center;

        position: relative;
        top:-5vw;

        /* width: 50%; */
    }
    /* #container_PC #classContents_left_top{
        width: 450px;
        height: 300px;
        background: no-repeat;
        background-size: 450px 300px;
    } */
    #container_Mobile #classContents_right_top{
        /* width: 450px; */
        /* height: 500px; */
        /* width: 90%; */

        display: flex;
        flex-direction: row;

        position: relative;
        top:-5vw;
        /* left: 5%; */
    }
    /* #container_PC #classContents_left_bottom{
        width: 450px;
        height: 500px;

        background: no-repeat;
        background-size: 450px 500px;
    } */
    #container_Mobile #classContents_right_bottom{
        /* width: 450px; */
        /* height: 500px; */
        /* width: 90%; */

        display: flex;
        flex-direction: column;
    }
    #container_Mobile #classContents_right_top_left{
        /* width: 225px; */
        width: 50%;
        height: 110vw;

        background-color: rgba(250,235,215,0.8);
    }
    #container_Mobile #classContents_right_top_right{
        width: 50%;
        height: 110vw;
        background: no-repeat rgba(0,0,0,0.7);
        background-size: 100% 100%;
        background-blend-mode: multiply;
    }
    #container_Mobile .classContents_right_bottom_column{
        display: flex;
        flex-direction: row;
        position: relative;
        left:5%;
        /* width: 50%; */
    }
    #container_Mobile #classContents_right_bottom_01{
        width: 100%;
        /* height: 250px; */
        height: 45vw;
        background: no-repeat rgba(0,0,0,0.8);
        background-size: 100% 100%;
        background-blend-mode: multiply;
    }
    #container_Mobile #classContents_right_bottom_02{
        width: 100%;
        /* height: 250px; */
        height: 45vw;
        background:  no-repeat;
        background-size: 100% 100%;
    }
    #container_Mobile #classContents_right_bottom_03{
        width: 100%;
        /* height: 250px; */
        height: 45vw;
        background:  no-repeat;
        background-size: 100% 100%;
    }
    #container_Mobile #classContents_right_bottom_04{
        width: 100%;
        /* height: 250px; */
        height: 45vw;
        background: no-repeat rgba(0,0,0,0.8);
        background-size: 100% 100%;
        background-blend-mode: multiply;
    }


    /* classContents_row_01 수업 간략 설명 레이아웃 내용 */
    #container_Mobile #classContents_right_top_left > h2{
        position: relative;
        left: 10px;
        margin-top:20px;
        font-size: 20px;
        font-weight: 600;
    }
    #container_Mobile #classContents_right_top_left_line{
        margin-top: 10px;
        position: relative;
        left: 10px;
        width: 120px;
        height: 8px;
        background-color: #333;
        border-radius: 10px;

    }
    #container_Mobile #classContents_right_top_left_contents{
        width: 90%;
        margin-top: 20px;
        position: relative;
        left: 10px;

        font-size: 16px;
        font-weight: 600;
        color:#555;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }

    #container_Mobile .classContents_right_bottom_contents{
        
        text-align: center;
        margin-top:35%;
        font-size: 20px;
        
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #container_Mobile .classContents_right_bottom_line{
        /* margin-top: 10px; */
        position: relative;
        top:10px;
        left: 30%;
        width: 40%;
        height: 12px;
        background-color: #fff;
        border-radius: 10px;
    }





    /* classContents_row_02 수업 보충 설명 */
    #container_Mobile #classContents_row_02 > h2{
        margin-top: 40px;
        text-align: center;
        font-size: 20px;
        /* margin-bottom: 20px; */
    }
    #container_Mobile #classContents_row_02 > h3{
        margin-top: 0px;
        text-align: center;
        font-size: 18px;
    }
    #container_Mobile #classContents_explanation_column{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #container_Mobile .classContents_explanation_box{
        width: 30%;
        /* height: 40vw; */

        display: flex;
        flex-direction: column;

    }
    #container_Mobile .classContents_explanation_img{
        position: relative;
        left:10%;
        margin-top:30px;
        width: 80%;
        height: 24vw;
        border-radius: 50%;

        background: no-repeat;
        background-size: 100% 100%;
    }
    #container_Mobile .classContents_explanation_Theme{
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        font-weight: 900;
    }
    #container_Mobile .classContents_explanation_Theme_line{
        margin-top: 10px;
        position: relative;
        left: 40%;
        width: 20%;
        height: 8px;
        background-color: #222;
        border-radius: 10px;
    }
    #container_Mobile .classContents_explanation_Contents{
        width: 80%;
        position: relative;
        left: 10%;
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        color: #555;
        font-weight: 700;
    }

    /* common_class_Mobile_03 다른 수업반 소개 */
    #container_Mobile #common_class_Mobile_03{
        /* background-color:#e6ffff; */
        background-color: #eee;
        padding-bottom: 40px;
    }
    #container_Mobile #common_class_Mobile_03 > h2{
        padding-top: 30px;
        text-align: center;
        font-size: 24px;
        padding-bottom: 30px;
    }
    #container_Mobile #another_class_box{
        width: 90%;
        position: relative;
        left: 5%;

        display: flex;
        flex-direction: column;
        gap:20px;
    }
    #container_Mobile .another_class_row{
        /* display: flex;
        flex-direction: row;
        gap:20px; */

        width: 100%;
    }
    #container_Mobile .another_class_column{
        /* width: 440px;
        height: 450px; */
        width: 100%;
        /* height: 90vw; */
    }
    #container_Mobile .another_class_box{
        /* width: 400px;
        height: 450px; */
        width: 100%;
        /* height: 90vw; */
        /* position: relative;
        left:20px; */
    }
    #container_Mobile .another_class_box_img{
        width: 100%;
        height: 40vw;

        background: no-repeat;
        background-size: 100% 100%;
    }
    #container_Mobile .another_class_box > h2{
        margin-top: 10px;
        font-size: 24px;
    }
    #container_Mobile .another_class_box_line{
        margin-top: 10px;
        width: 60px;
        height: 8px;
        background-color: #222;
        border-radius: 10px;
    }
    #container_Mobile .another_class_box_contents{
        height: 80px;
        margin-top: 10px;
        font-size: 15px;
        color: #555;
        font-weight: 700;
    }
    #container_Mobile .another_class_box_link{
        /* margin-top: 5px; */
        width: 150px;
        height:25px;
        background-color: rgba(0,0,0,0.7);

        color: #fff;
        font-size: 18px;
        text-align: center;
        line-height: 25px;
    }








}
/* --------------------------  'PC버전' 시작 ------------------------------ */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/*                                                                     */
/* --------------------------  'PC버전' 시작--------------------------- */
@media screen and (min-width:768px){
    /* --------------------------  '수업반 공통' 시작 ---------------------------- */
    /* 수업 탑 이미지 */
    #container_PC #common_class_PC_01{
        width: 1000px;
        height: 500px;
        background: no-repeat rgba(0,0,0,0.5);
        background-size: 100% 100%;
        background-blend-mode: multiply;
    }
    #container_PC #common_class_PC_01 > h1{
        font-size: 40px;
        color: #fff;
        text-align: center;
        padding-top: 40px;
        line-height: 60px;
    }
    #container_PC #common_class_PC_01 > h2{
        position: relative;
        left:40px;
        margin-top: 100px;

        font-size: 25px;
        color: #fff;
    }
    #container_PC #common_class_PC_01 > h3{
        width: 300px;
        position: relative;
        left:40px;
        margin-top: 20px;

        font-size: 14px;
        color: #fff;
    }


    /* 수업 설명 */
    #container_PC #common_class_PC_02{
        background-color:rgba(250,235,215,0.5);
        height: 1400px;
    }
    /* classContents_row_01 수업 간략 설명 레이아웃 */
    #container_PC #classContents_row_01{
        /* margin-top: 10px; */
        height: 800px;

        display: flex;
        flex-direction: column;

    }
    #container_PC #classContents_column_01{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }



    #container_PC #classContents_column_02{
        
        display: flex;
        flex-direction: row;
        justify-content: center;

        position: relative;
        top:-200px;
    }
    #container_PC #classContents_left_top{
        width: 450px;
        height: 300px;
        background: no-repeat;
        background-size: 450px 300px;
    }
    #container_PC #classContents_right_top{
        width: 450px;
        height: 500px;

        display: flex;
        flex-direction: row;

        position: relative;
        top:-200px;
    }
    #container_PC #classContents_left_bottom{
        width: 450px;
        height: 500px;

        background: no-repeat;
        background-size: 450px 500px;
    }
    #container_PC #classContents_right_bottom{
        width: 450px;
        height: 500px;

        display: flex;
        flex-direction: column;
    }
    #container_PC #classContents_right_top_left{
        width: 225px;
        height: 500px;

        background-color: rgba(250,235,215,0.8);
    }
    #container_PC #classContents_right_top_right{
        width: 225px;
        height: 500px;
        background: no-repeat rgba(0,0,0,0.7);
        background-size: 100% 100%;
        background-blend-mode: multiply;
    }
    #container_PC .classContents_right_bottom_column{
        display: flex;
        flex-direction: row;
    }
    #container_PC #classContents_right_bottom_01{
        width: 225px;
        height: 250px;
        background: no-repeat rgba(0,0,0,0.8);
        background-size: 225px 250px;
        background-blend-mode: multiply;
    }
    #container_PC #classContents_right_bottom_02{
        width: 225px;
        height: 250px;
        background:  no-repeat;
        background-size: 225px 250px;
    }
    #container_PC #classContents_right_bottom_03{
        width: 225px;
        height: 250px;
        background:  no-repeat;
        background-size: 225px 250px;
    }
    #container_PC #classContents_right_bottom_04{
        width: 225px;
        height: 250px;
        background: no-repeat rgba(0,0,0,0.8);
        background-size: 225px 250px;
        background-blend-mode: multiply;
    }


    /* classContents_row_01 수업 간략 설명 레이아웃 내용 */
    #container_PC #classContents_right_top_left > h2{
        position: relative;
        left: 10px;
        margin-top:20px;
        font-size: 25px;
    }
    #container_PC #classContents_right_top_left_line{
        margin-top: 10px;
        position: relative;
        left: 10px;
        width: 120px;
        height: 8px;
        background-color: #333;
        border-radius: 10px;

    }
    #container_PC #classContents_right_top_left_contents{
        width: 205px;
        margin-top: 20px;
        position: relative;
        left: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
        font-size: 20px;
        font-weight: 800;
    }

    #container_PC .classContents_right_bottom_contents{
        text-align: center;
        margin-top:80px;
        font-size: 25px;
        color: #fff;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    #container_PC .classContents_right_bottom_line{
        margin-top: 10px;
        position: relative;
        top:10px;
        left: 70px;
        width: 85px;
        height: 8px;
        background-color: #fff;
        border-radius: 10px;
    }

    /* classContents_row_02 수업 보충 설명 */
    #container_PC #classContents_row_02 > h2{
        margin-top: 40px;
        text-align: center;
        font-size: 30px;
        margin-bottom: 0px;
    }
    #container_PC #classContents_row_02 > h3{
        margin-top: 0px;
        text-align: center;
        font-size: 25px;
    }
    #container_PC #classContents_explanation_column{

        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    #container_PC .classContents_explanation_box{
        width: 300px;
        height: 400px;
    }
    #container_PC .classContents_explanation_img{
        position: relative;
        left:50px;
        margin-top:30px;
        width: 200px;
        height: 200px;
        border-radius: 50%;

        background: no-repeat;
        background-size: 100% 100%;
    }
    #container_PC .classContents_explanation_Theme{
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
        font-weight: 900;
    }
    #container_PC .classContents_explanation_Theme_line{
        margin-top: 10px;
        position: relative;
        left: 120px;
        width: 60px;
        height: 8px;
        background-color: #222;
        border-radius: 10px;
    }
    #container_PC .classContents_explanation_Contents{
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
        color: #555;
        font-weight: 700;
    }
    /* common_class_PC_03 다른 수업반 소개 */
    #container_PC #common_class_PC_03{
        /* background-color:#e6ffff; */
        background-color: #eee;
    }
    #container_PC #common_class_PC_03 > h2{
        padding-top: 30px;
        text-align: center;
        font-size: 30px;
        padding-bottom: 30px;
    }
    #container_PC #another_class_box{
        width: 900px;
        position: relative;
        left: 50px;

        display: flex;
        flex-direction: column;
        gap:50px;
    }
    #container_PC .another_class_row{
        display: flex;
        flex-direction: row;
        gap:20px;
    }
    #container_PC .another_class_column{
        width: 440px;
        height: 450px;
    }
    #container_PC .another_class_box{
        width: 400px;
        height: 450px;
        position: relative;
        left:20px;
    }
    /* 백그라운드로 변경 */
    #container_PC .another_class_box_img{
        width: 400px;
        height: 200px;

        background: no-repeat;
        background-size: 100% 100%;
    }
    #container_PC .another_class_box > h2{
        margin-top: 10px;
        font-size: 30px;
    }
    #container_PC .another_class_box_line{
        margin-top: 10px;
        width: 60px;
        height: 8px;
        background-color: #222;
        border-radius: 10px;
    }
    #container_PC .another_class_box_contents{
        height: 80px;
        margin-top: 10px;
        font-size: 15px;
        color: #555;
        font-weight: 700;
    }
    #container_PC .another_class_box_link{
        margin-top: 5px;
        width: 200px;
        height: 30px;
        background-color: rgba(0,0,0,0.7);

        color: #fff;
        font-size: 20px;
        text-align: center;
    }

    /* --------------------------  '학원' 종료 ---------------------------- */
    /*                                                                     */
    /*                                                                     */
    /* --------------------------  '강사' 시작 ---------------------------- */
}